header {
    width: 100%;
    height: 101px;
    border-radius: 20px;
    background-color: #FADCD9;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    padding-inline: 25px;
}

.navlink {
    display: flex;
    gap: 40px;
}

.navlink a {
    color: black;
    font-weight: 200;
}
.logo{
    font-size: 19px;
}